.u-center-text {
  text-align: center;
}

.u-margin- {
  &bottom-small {
    margin-bottom: 1.5rem;
  }
  &bottom-medium {
    margin-bottom: 4rem;
  }
  &bottom-big {
    margin-bottom: 8rem;
  }
  &top-big {
    margin-top: 8rem;
  }
  &top-huge {
    margin-top: 10rem;
  }
}
